body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #f0f0f0; /* El color del fondo de la página web */
    color: #333333; /* El color del texto*/ 
}
h1 {
    color: black; /* El color de la cabecera */
    font-size: 85px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}

p {
    color: rgb(51, 51, 51); /* El color de la cabecera */
    font-size: 40px; /* El tamaño de la fuente de la cabecera */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* La familia tipográfica utilizada en la cabecera */
}

